<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>:: SUS Questionnaire :: #UXtools</title>

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body class="status--setup">

  <div class="content">
    <%- include('_partials/_setup'); %>
    <%- include('_partials/_respond'); %>
    <%- include('_partials/_ending'); %>
    <%- include('_partials/_results'); %>
  </div>
  <%- include('_partials/_footer'); %>

  <script src="scripts/results/returnexample.js" charset="utf-8"></script>
  <script src="scripts/results/reader.js" charset="utf-8"></script>

  <script src="scripts/app.js" charset="utf-8"></script>
  <script src="scripts/textbox.js" charset="utf-8"></script>
  <script src="scripts/scaleset.js" charset="utf-8"></script>
  <script src="scripts/ui.js" charset="utf-8"></script>
  <script src="scripts/scroller.js" charset="utf-8"></script>

</body>
</html>
