<article class="question" id="question--<%- index -%>">

  <h1 class="question__questiontext"><%- title %></h1>

  <div class="question__responses">

    <p class="question__reference">Completely<br>disagree</p>

    <div class="question__scale">
        <input type="radio" name="q<%- index %>" id="q<%- index %>" value="1">
        <input type="radio" name="q<%- index %>" id="q<%- index %>" value="2">
        <input type="radio" name="q<%- index %>" id="q<%- index %>" value="3">
        <input type="radio" name="q<%- index %>" id="q<%- index %>" value="4">
        <input type="radio" name="q<%- index %>" id="q<%- index %>" value="5">
    </div>

    <p class="question__reference">Completely<br>agree</p>

  </div>

</article>
